/* ----------------------------------------index page-------------------------------------------------*/


.main{
    padding: 20px 100px 20px;
}

.first-section{
    color: yellow;
    text-align: center;
    font-size: 50rem;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 20px 50px;
    border: 3px solid yellow;

}


.first-section-heading{
    font-size: 5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}


.first-section-overlay{
    background-color: rgba(0, 255, 255, 0.537);
}



.heading{
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    padding: 20px 0 0;
    color: white;
    font-family: monospace;
}

.image{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(media/why-is-sky-blue.jpg);
}

.img-overlay{
    background-color: rgba(100, 98, 90, 0.338);
}

.card{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(media/pexels-disha-sheta-3584430.jpg);
    color: aliceblue;
    border: 5px solid rgba(240, 240, 6, 0.712);
    border-radius: 100px;
}

.doverlay{
    background-color: rgba(0, 0, 0, 0.422);
}

.card-header{
    background-color: rgba(0, 0, 0, 0.785);
}

.subheading{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.last_table{
    margin-top: 50px;
    padding: 30px;
    border: 5px solid yellow;
    border-radius: 30px;
}

th,h5{
    color: white;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
}

.heading02{
    font-size: 3rem;
    font-weight: 500;
    color: aliceblue;
    font-family: monospace;

}

.text-start{
    font-size: 1.5rem;
    font-family: 'Kalam', cursive;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.374);
}

.form_search{
    margin: 30px 300px 20px;
}

.tbl_heading{
    font-size: 1.7rem;
    font-family: 'Kalam', cursive;
}


.toplink{
    color: white;
}
.toplink:hover{
    color: yellow;
}
.nav-item{
    padding-left: 1.5rem;
    font-size: 1.2rem;
}
.navbar-brand{
    color: white;
    margin-right: 38rem;
    font-size: 1.5rem;
    font-weight: 900;
}

.card-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5rem;
}

.result{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
}

.data{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.footer01{
    margin: 0;
}

.footer{
    padding: 50px 20px 20px;
    color: aliceblue;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.th-dropdown{
    color: yellow;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.th-dropdown-header{
    color: white;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 50px;
}

.dropdown-menu{
    padding: 10px 20px;
    background-image: url("media/1085.jpg");
}

table{
    text-align: center;
}

td{
    color: white;
}

/* ------------------------------------------END of index page----------------------------------------*/
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* ------------------------------------------aboutus--------------------------------------------------*/




.image-aboutus{
    width: 100%;
    height: 100%;
    background-image: url("media/wall\ paper\ 2.jpg");
}

.img-overlay-aboutus{
    background-color: rgba(0, 0, 0, 0.61);
}

.about-p{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    padding: 30px 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-img{
    width: 25%;
    border: 5px solid black;
    border-radius: 200px;
    
}

.img-div{
    text-align: center;
    margin: 50px 0 0;
}

.about-name{
    padding-top: 20px;
    color: rgb(255, 230, 0);
}

.about-instruction{
    text-align: left;
}




/* ------------------------------------------END of aboutus page--------------------------------------*/
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/*----------------------------------------userguidelines----------------------------------------------*/

.user-heading{
    text-align: center;
    color: white;
    padding: 50px 100px 30px;
    font-size: 4rem;
}

.user-p{
    padding: 0 100px 300px;
    color: white;
    font-size: 1.5rem;
}

.user-footer{
    color: white;
    padding: 20px;
    text-align: center;
}




/* ------------------------------------------END of aboutus page--------------------------------------*/
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/*----------------------------Making the website responsive-------------------------------------------*/

